/**
  =========================
  * Button
  * @todo Button
  *=========================
  */

.btn {
  transition: 0.3s linear all;
  &.border {
    border-width: 1px;
    border-style: solid;
  }

  &.light {
    color: var(--cp1-light);
    border-color: var(--cp1-light);
  }

  &.medium {
    padding: 0.5rem 1rem;
  }

  &.borad-5 {
    border-radius: 5px;
  }
}
