#header {
  height: 100px;
  .inner-section {
    .container {
      .wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;

        @media (max-width: 540px) {
          grid-template-columns: 1fr;
        }

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          @media (max-width: 540px) {
            align-items: center;
          }
        }
        .right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 20px;
          @media (max-width: 540px) {
            display: none;
          }
          #header-search-wr {
            width: max-content;

            input[type="text"] {
              outline: none;
              border: 1px solid var(--transparent-dark-1);
              padding: 0.5rem 1rem;
              background-color: var(--cp-light-2);

              &:focus {
                border: 1px solid var(--cp1-light);
              }
            }
            input[type="submit"] {
              outline: none;
              border: none;
              background-color: var(--cp1-dark);
              color: var(--color-light-1);
            }

            button {
              outline: none;
              border: none;
              background-color: var(--cp1-dark);
              color: var(--color-light-1);
              padding: 0.5rem 1rem;
            }
          }
          #header-button-wr {
            width: max-content;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;

            @media (max-width: 840px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
