#header {
  height: 100px;
  .inner-section {
    .container {
      .wrapper {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
        .right {
          display: grid;
          grid-template-columns: 1fr 200px 30px;
          align-items: center;
          gap: 20px;

          @media (max-width: 840px) {
            grid-template-columns: 1fr 30px;
          }
          @media (max-width: 495px) {
            display: flex;
            grid-template-columns: unset;
            justify-content: flex-end;
            align-items: center;
          }

          #header-search-wr {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @media (max-width: 840px) {
              display: none;
            }

            input[type="text"] {
              outline: none;
              border: 1px solid var(--transparent-dark-1);
              padding: 0.5rem 1rem;
              background-color: var(--cp-light-2);

              &:focus {
                border: 1px solid var(--cp1-light);
              }
            }
            input[type="submit"] {
              outline: none;
              border: none;
              background-color: var(--cp1-dark);
              color: var(--color-light-1);
            }

            button {
              outline: none;
              border: none;
              background-color: var(--cp1-dark);
              color: var(--color-light-1);
              padding: 0.5rem 1rem;
            }
          }
          #header-button-wr {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            display: flex;
            flex-direction: row;
            flex-grow: 1;

            @media (max-width: 495px) {
              display: none;
            }
          }

          // Trigger the mobile menu.
          #head-trigger {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30px;
            display: none;
            cursor: pointer;
            @media (max-width: 768px) {
              display: flex;
            }
            i {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
