#header {
  height: 100px;

  @media (max-width: 840px) {
    margin-top: 48px;
  }

  .inner-section {
    .container {
      .wrapper {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;

        @media (max-width: 840px) {
          display: flex;
          flex-direction: row;
          grid-template-columns: unset;
        }

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 200px;

          @media (max-width: 840px) {
            flex-grow: 1;
          }
        }
        .mid {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          gap: 20px;
          flex-grow: 1;
          position: relative;

          @media (max-width: 840px) {
            position: fixed;
            top: 0;
            left: 0;
            height: 48px;
            padding: 4px 20px;
            background-color: var(--cp1-dark);
            color: var(--color-light-1);
            z-index: 10;
          }

          #header-search-wr {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @media (max-width: 540px) {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              transform: translateY(-58px);
              align-items: center;
              height: 56px;
              background-color: var(--color-primary);
              padding: 8px 20px;
              &.active {
                z-index: 5;
                top: 48px;
                transform: translateY(0);
              }
            }

            form {
              box-sizing: border-box;
              label {
                display: none;
              }

              input[type="text"] {
                box-sizing: border-box;
                outline: none;
                border: 1px solid var(--transparent-dark-1);
                padding: 0.5rem 1rem;
                background-color: var(--cp-light-2);

                &:focus {
                  border: 1px solid var(--cp1-light);
                }

                @media (max-width: 840px) {
                  color: var(--color-light-1);

                  &::placeholder {
                    color: var(--transparent-light-2);
                    font-size: 80%;
                  }
                }
                @media (max-width: 540px) {
                  color: var(--color-light-1);
                  border: 1px solid var(--transparent-light-5);

                  input[type="text"] {
                    border-color: var(--transparent-light-5);
                  }

                  &::placeholder {
                    color: var(--transparent-light-8);
                    font-size: 80%;
                  }
                }
              }

              button {
                outline: none;
                border: none;
                background-color: var(--cp1-dark);
                color: var(--color-light-1);
                padding: 0.5rem 1rem;
              }

              @media (max-width: 840px) {
                height: 100%;
                color: var(--color-light-1);
              }
            }
          }
          #header-button-wr {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            width: auto;

            a.btn {
              @media (max-width: 840px) {
                color: var(--color-light-1);
                &.medium {
                  padding-top: 2px;
                  padding-bottom: 2px;
                }
              }
            }
            @media (max-width: 540px) {
              z-index: 1;
              background-color: var(--cp1-dark);
            }

            .search-trigger {
              display: none;
              cursor: pointer;
              width: 30px;

              @media (max-width: 540px) {
                display: block;
              }
            }
          }

          // Trigger the mobile menu.
        }
        .right {
          width: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          #head-trigger {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30px;
            display: none;
            cursor: pointer;

            .bars {
              width: 25px;
              height: 20px;
              position: relative;

              .bar {
                display: block;
                width: 100%;
                height: 2px;
                background-color: black;
                transition: 0.3s ease all;

                &:nth-child(1) {
                  position: absolute;
                  top: 0;
                  left: 0;
                }
                &:nth-child(2) {
                  width: 75%;
                  position: absolute;
                  top: 50%;
                  left: 25%;
                  transform: translateY(-50%);
                }
                &:nth-child(3) {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }

            .bars.active {
              width: 25px;
              height: 20px;
              position: relative;

              .bar {
                display: block;
                width: 100%;
                height: 2px;
                background-color: red;

                &:nth-child(1) {
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%) rotate(45deg);
                  transition: 0.3s ease all;
                }
                &:nth-child(2) {
                  width: 75%;
                  position: absolute;
                  top: 50%;
                  left: 200%;
                  transform: translateY(-50%);
                  transition: 0.3s ease all;
                }
                &:nth-child(3) {
                  position: absolute;
                  bottom: 50%;
                  left: 0;
                  transform: translateY(50%) rotate(-45deg);
                  transition: 0.3s ease all;
                }
              }
            }

            @media (max-width: 840px) {
              display: flex;
            }
            i {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
