:root {
  --cp-light-ffffff: #ffffff;
  --cp-light-f5f5f5: #f5f5f5;
  --cp-light-eeeeee: #eeeeee;
  --cp-light-cccccc: #cccccc;
  --cp-dark-000000: #000000;
  --cp-dark-111111: #111111;
  --cp-dark-222222: #222222;
  --cp-red: #eb0714;
  --cp-red-dark: #530509;
}
