#sing {
  .inner-section {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wrapper {
        width: 768px;
        max-width: 100%;
        overflow: hidden;

        h2 {
          font-size: var(--font-clamp-3);
        }

        .row {
          padding: 10px 20px;
        }
        .fim-wr {
          aspect-ratio: 16/9;
          img {
            width: 100%;
            max-width: 100%;
            height: auto;
          }
        }
        .meta {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: var(--font-clamp-4);
            margin: 4px 0;
            line-height: 1.25;
          }
          ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            font-size: 80%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            li {
              a {
                color: var(--cp3-dark);
                text-decoration: underline;
              }
            }
          }
        }

        #the-content {
          .content-img {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          ul,
          ol {
            li {
              margin-bottom: 0.5rem;
            }
          }

          ul {
            list-style: square;
          }

          blockquote {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            p {
              font-size: 110%;
              font-style: italic;
              color: var(--cp1-dark);
              margin: 0;
              padding: 0;
              position: relative;

              &:before {
                content: '"';
                position: absolute;
                top: -1rem;
                left: -2rem;
                font-size: 5rem;
                margin: 0;
                line-height: 1;
                color: var(--cp1-dark);
              }

              &:first-child {
                &::first-letter {
                  float: none;
                  color: inherit;
                  padding: unset;
                  font-size: inherit;
                  font-weight: inherit;
                }
              }
            }
          }

          p {
            img {
              max-width: 100%;
              height: auto;
            }

            &:first-child {
              &:first-letter {
                float: left;
                font-size: 3rem;
                padding: 0 0.5rem 0.5rem 0;
                font-weight: 600;
                color: var(--cp3-dark);
              }
            }

            &:has(> img) {
              margin-block-start: 0;
              margin-block-end: 0;
            }
          }

          h2 {
            font-size: var(--font-clamp-3);
          }

          h3 {
            font-size: var(--font-clamp-2);
          }

          h4,
          h5,
          h6 {
            font-size: var(--font-clamp-1);
          }
        }
      }
    }
  }
}
